
#main {
  background-image: url(upfeathers.png);
  /*background-image: url(topography.png);*/
  /*background-color: #333333;*/
  /*background-repeat: no-repeat;*/
  background-repeat: repeat;
  padding-top:70px;
  /*background-position: center;
  background-attachment: fixed;
  background-size: cover;*/
}



/*.flex-container {
  -webkit-justify-content: center; /* Safari */
  /*justify-content:         center;
  display: inline-flex;*/

/*}*/
#upload-wrap {
    float: left;
    height: 30px;
    width: 200px;
    display:none;
}



.hero-spacer {
    margin-top: 50px;
}

.hero-feature {
    margin-bottom: 30px;
}

footer {
    margin: 50px 0;
}

.navbar {
  background-color: #EDD892;
}

#navfont {
  font-family: 'Comfortaa', cursive;
  color: #114B5F;
  letter-spacing: 0.0625em;
  font-weight: 700;
}

#headerBlock {
  font-family: 'Comfortaa', cursive;
  background-color: #1A936F;
  border-radius: 10px;
  color: white;
  letter-spacing: 0.0825em;
}

h5 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.6em;
	/*font-variant: normal;
	font-weight: 500;*/
	line-height: 18.4px;
}

.main {
  padding-bottom: 20px;
}

.mobile {
  /*make responsive*/
}

/*img {
  max-width: 25% !important;
  max-height: auto;
}*/

.btn {
  background-color: #D1AD2B;
  letter-spacing: 0.0625em;
  border-style: none;
  border-width: 0px;
}

.btn:hover {
  background-color: #BC8A00;
}

.form-padding {
  padding-top: 10px;
}
